
//
// VARIABLES
//

$grid-float-breakpoint: 700;

// Custom

$panel1-bg: "../img/3-steps-stripped.png";
$panel1-bar: "../img/bar.svg";
$panel3-bg: ""; // "../img/downloads-bg.jpg";

// Colors
$brand-primary: rgba(#017b86,.9);
$brand-success: #5cb85c;
$brand-info:    rgba(#dc9500, .9);
$brand-warning: rgba(#dc6800,.9);
$brand-danger:  rgba(#dc0b00, .9);

$panel1-bg-tint: rgba(#e2d3b2,1);
$brand-c1: $brand-primary;
$brand-c2: $brand-info;
$brand-c3: $brand-danger;
$brand-c4: $brand-warning;

$clr-selection: rgba($brand-c1,.5);
$clr-selection-bg: rgba($brand-c1,.5);

// Grays  <-- stupid don't name variables a fixed meaning like a color name!  ugh!
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;

// Theme Elements
$navbar-height: 70px;
$clr-navbar: red;
$clr-navbar-link: #000;
$clr-navbar-bg: transparent;
$clr-navbar-collapse-link: white;
$clr-navbar-collapse-bg: black;
$clr-navbar-link-bg-hover: rgba(255, 255, 255, .3);

$clr-navbar-border: rgba(255, 255, 255, .3);
$clr-navbar-border-thickness: 1px;
$clr-navbar-border-type: solid;

$clr-code: rgba(white,1);
$clr-code-bg: rgba($brand-c1,.3);

$clr-text-main: #000;
$clr-text-main-link: $brand-c1;
$clr-text-main-h: #000;


// Font stacks
$helvetica: Helvetica, Arial, 'Droid Sans', Raleway, sans-serif;
$helveticaNeue: 'Helvetica Neue', Helvetica, Arial, 'Droid Sans', Raleway, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
